<div class="span3">
    <div class="well sidebar-nav pull-right">
      <ul class="nav nav-list">
        <li class="nav-header">Summary</li>
        <li><%= link_to "English", "/path1"  %></li>
        <li><%= link_to "History", "/path2"  %></li>
        <li><%= link_to "Science", "/path3"  %></li>
        <li><%= link_to "Math", "/path3"  %></li>
        <li><%= link_to "Physics", "/path3"  %></li>
      </ul>
    </div><!--/.well -->
</div><!--/span-->
