- if course.errors.any?
  #error_explanation
    %h2
      = pluralize(course.errors.count, "error")
      prohibited this course from being saved:
    %ul
      - course.errors.full_messages.each do |msg|
        %li= msg
%table
  %tr
    %th= f.label :name
    %td= f.text_field :name
    %th= f.label :code
    %td= f.text_field :code
  %tr
    %th= f.label :Grade
    %td= f.select :grade_id, ['',''] + grades.collect {|x| [x.name, x.id]},{}, :multiple => false
    %th= f.label :Department
    %td= f.select :department_id, ['',''] + departments.collect {|x| [x.name, x.id]},{}, :multiple => false
  %tr
    %th= f.label :description
    %td= f.text_area :description
    %th{:colspan => 2}
      .actions
      = f.submit 'Save Course'